/* TODO: Fazer uma classe reaproveitável "hover" para  os cursor pointer
    do jeito que está funciona, é mais prático pro javascript, mas o style fica
    meio chatinho de adicionar botão*/

/* CONFIGURAÇÕES GERAIS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --ui-col-fill: #3347B0;
    --ui-col-red: #C11010;
    --ui-col-yellow: #E5B657;
    --ui-col-text: white;
    --ui-col-text-alt: #353535;
    --ui-col-light: #BCC2E5;
    --ui-col-barbackdrop:#EEEFF8;
    --ui-shadow-fill: #3348b07F;
    --ui-shadow-black: #0004;
    --btn-shadow: 12px 12px 4px var(--ui-shadow-fill);
    --card-shadow: 8px 8px 12px var(--ui-shadow-black);
    --text-shadow: 0px 4px 4px #00000040;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--ui-col-text);
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

a:hover{
    cursor:pointer
}


/* HEADER */

header {
    display: flex;
    background-color: var(--ui-col-fill);
    padding-inline: 96px;
    padding-block: 12px;
    justify-content: space-between;


    .logo {
        display: flex;
        align-items: center;
        width: 75px;
        gap: 11px;

        h1 {
            font-size: 1.5rem;
            font-weight: 700;
        }

        p {
            font-size: 2.25rem;
        }
    }
    .logo:hover{
        cursor: pointer;
    }
}



/* MAIN */

main {
    flex-grow: 1;
    width: 100vw;
    display: flex;


    /* LANDING PAGE */
    .landing {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-inline: 96px;
        padding-block: 78px;
        
        
        .hero{
            display: flex;
            gap: 24px;

            .hero-content {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 64px;
                
                
                h2 {
                    color: var(--ui-col-text-alt);
                    font-size: 3.5rem;
                    font-style: normal;
                    font-weight: 300;
                    
                    span {
                        font-weight: 600;
                        color: var(--ui-col-fill);
                    }
                }
                
                img{
                    max-width: 80%;
                }
            }
            img{
                width: auto;
            }
        }


        .courses {
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 50px;
        
            
            .course{
                flex-grow: 1;
                display: flex;
                justify-content: center;
                gap: 24px;
                align-items: center;
                

                background-color: var(--ui-col-fill);
                color: var(--ui-col-text);
                
                border-style: solid;
                border-width: 1px;

                font-size: 4rem;
                font-weight: 500;
            }

            .course:hover{
                cursor: pointer;
                box-shadow: var(--btn-shadow);
                transform: scale(1.02);
                transition: 0.2s ease-in-out
            }
            
        }





    }

    /* STUDENT-LIST */
    .student-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        place-items: center;
        padding-block: 35px;
        gap: 50px;



        h2 {
            font-size: 4rem;
            font-weight: 500;
            color: var(--ui-col-fill);

        }

        .students-container{
            display: grid;
            padding-inline: 96px;
            grid-template-columns: 200px 200px 200px 200px 200px;
            gap: 30px;

            .student-card{
                display: grid;
                background-color: var(--ui-col-fill);
                width: 200px;
                gap: 16px;
                padding-bottom: 32px;
                box-shadow: var(--card-shadow);

                .student-pfp{
                    height: 200px;
                }
                
                .student-name{
                    text-align: center;
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 18px;
                    text-shadow: var(--text-shadow);
                }
            }

            .student-card:hover{
                cursor: pointer;
                transform: scale(1.02);
                transition: 0.2s ease-in-out
            }
        }
    }

    /* STUDENT-PROFILE */
    .student-profile{
        padding-top:100px;
        padding-bottom:60px;
        padding-inline: 96px;

        display: flex;
        width: 100%;
        justify-content: space-between;

        span{
            text-shadow: var(--text-shadow);
        }

        .profile-container{
            width: 500px;
            height: 500px;
            background-color: var(--ui-col-text);
            box-shadow: 0px 0px 12px 0px #00000040;
            color: var(--ui-col-fill);

        }
        .student-info{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img{
                width: 75%;
            }
        
        }

        .student-grades{
            display: flex;
            gap: 32px;
            padding-block:57px;
            padding-inline: 70px;

            .grade{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;

                span{
                    font-family: "Poppins";
                    font-weight: 700;

                    
                }
                .grade-bar{
                    height: 100%;
                    width: 16px;
                    display: flex;
                    flex-direction: column-reverse;
                    
                    .grade-fill{
                        /* Altura de teste, designar com o javascript */
                        height: 90%;
                        border-top-left-radius: 2px;
                        border-top-right-radius: 2px;
                    }
                    
                    background-color: var(--ui-col-barbackdrop);  
                    .approved-grade{
                        background-color: var(--ui-col-fill);
                        box-shadow: 0px 0px 24px 0px var(--ui-col-fill);
                    }
                    
                    .attention-grade{
                        background-color: var(--ui-col-yellow);
                        box-shadow: 0px 0px 24px 0px var(--ui-col-yellow);
                    }
                    
                    .danger-grade{
                        background-color: var(--ui-col-red);
                        box-shadow: 0px 0px 24px 0px var(--ui-col-red);
                    }
                }
                .approved-grade{
                    color: var(--ui-col-fill)
                }
                
                .attention-grade{
                    color: var(--ui-col-yellow);
                }
                
                .danger-grade{
                    color: var(--ui-col-red);
                }
            }

        }
    
    }


}

/* FOOTER */
footer {
    display: flex;
    background-color: var(--ui-col-fill);
    padding-block: 22px;
    padding-inline: 96px;
    align-items: center;
    justify-content: space-between;


    .contact-info {
        display: flex;
        flex-direction: column;
        gap: 4px;


        .contact-item {
            display: flex;
            gap: 24px;
            align-items: center;
            padding-block: 6px;
        }
    }


    .copyright {
        font-size: 1.25rem;
    }

    
    .social-links {
        list-style: none;
        display: flex;
        gap: 20px;
    
    
        .circled {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border: 2px solid;
            border-color: var(--ui-col-text);
            border-radius: 100%;
    
            i {
                color: var(--ui-col-text);
                font-size: 1.5rem;
            }
        }
    }
}




